---
layout: default
---
<h1>{{page.title}}</h1>

<h2>Melodic-Death-Metal from Naila, Germany</h2>

After a long break, Endtime Prophecy is rocking since Septembre 2008. Inspired by bands like As I Lay Dying, Amon Amarth, Inevitable End oder Immortal 
Souls, our songs are Melodic Death with touches of Metalcore, Blackmetal, and Power Metal.

<h2>Members</h2>

<img src="images/Band-cropped.jpg" class="bandPhoto" />

From left to right: Daniel (Vocals), Simon (Drums), Dom (Guitar), Ben (Guitar), Jan (Bass), and Koni (Keys &amp; Backing-Vocals).
</ul>